[2022-02-02 15:56] Gauravsharma-20 opened #5 "Add Contribution Guidelines"

[2022-02-02 20:27] brunbs commented on #5
Hi, how can I contribute to this? =D

[2022-02-03 05:57] Gauravsharma-20 commented on #5
Hi, we need [Coding style](https://github.com/PEC-CSS/Open-Source#coding-style), [Making PRs](https://github.com/PEC-CSS/ACM-PEC-Website#making-prs) Guidelines and anything else you might think a new contributor should follow.

[2022-02-22 17:41] #5 closed, assigned to nobody

[2022-03-29 17:22] ken1000minus7 opened #11 "Create a Splash Screen"
Create a splash screen for the app

One of the ways of implementing a splash screen:-
https://stackoverflow.com/a/5486970/17369066

It is preferrable to make a design for the splash screen in figma before implementing it in xml

[2022-03-29 17:26] ken1000minus7 opened #12 "Improve the user list item layout"
Create a layout for the cards that will appear in the user list
For this, first create a design for the card in the figma workspace and then implement it in xml.

[2022-03-29 17:37] ken1000minus7 opened #13 "Converting static strings to string resources"
Replace all the static strings in the codebase by creating string resource for each string in the strings.xml file

_How to create a string resource?_

Go to the strings.xml file and under the resources tag, add a resource in the following format
[code]
Example:-
[code]

[2022-03-29 17:46] ken1000minus7 opened #14 "Add Lottie Library"
Lottie is an animation library used for easily adding animations to the app.
Add the dependencies for the Lottie animation library in the app level build.gradle file

_How to do that?_

Open the app level build.gradle file and under dependencies, add the following
[code]

[2022-03-29 18:05] ken1000minus7 opened #15 "Create an issue template"
Create a template for issues that will be created in this repo

[2022-03-29 18:23] ken1000minus7 opened #16 "Implement ViewBinding in all Activities and Fragments"
Currently most of the activities and fragments use findViewById for accessing the views from the xml file. However, it is preferred to replace it with Jetpack ViewBinding to ensure type and null check and avoid unnecessary boilerplate code.

_What is ViewBinding and how to implement it?_

Refer the official android docs
https://developer.android.com/topic/libraries/view-binding

[2022-03-29 23:58] Manny-op commented on #13
Is it okay if I try this issue?

[2022-03-30 03:40] #14 closed, assigned to nobody

[2022-03-30 08:43] Sidahmed-ben commented on #13
hello @ken1000minus7 , the issue interrests me can you assign it to me please. Thank you 👍

[2022-03-30 08:58] ken1000minus7 commented on #13
Sure @Sidahmed-ben , good luck! 😄

[2022-04-01 05:10] ken1000minus7 opened #18 "Replace IMDB API with TMDB API"
IMDB API has request limits in its free version and hence we have decided to replace it with TMDB API that has no such request limits.

TMDB API docs
https://developers.themoviedb.org/3

[2022-04-02 09:47] karanpreet8082 commented on #11
I would like to work on this issue.
Let’s put our heads/minds together.

[2022-04-02 09:47] yellowHatpro commented on #11
Ya sure why not 😄

[2022-04-02 09:49] karanpreet8082 commented on #11
Thank you sir very much for giving me a chance to showcase my skills.

[2022-04-06 07:19] Raveesh2324 commented on #16
I would like to work on this issue.

[2022-04-14 15:57] #18 closed, assigned to nobody

[2022-04-23 04:46] ken1000minus7 opened #21 "Add a Navigation Drawer"
Add a navigation drawer that will show general options like profile, settings, log out. These options will be changed or implemented later

Refer official android docs:
https://developer.android.com/guide/navigation/navigation-ui#add_a_navigation_drawer

[2022-04-25 04:55] ken1000minus7 commented on #12
I have created a basic layout in 62381d3d19156b975ec73fc8373beca98f444ba5
This can be improved to make it more attractive

[2022-04-26 17:26] ken1000minus7 opened #22 "Display the number of entries in each user list"
Display the number of entries in a user list just above the `RecyclerView` of that list. For example, if there are 3 items, you need to display '3 entries' just above the first item
![image](https://user-images.githubusercontent.com/78747188/165357818-da3bbb54-cac2-49bd-9ecd-29622ed910e0.png)

[2022-04-27 17:42] ken1000minus7 opened #23 "Create a Profile page"
Create a profile page, either using activity or fragment, displaying general information of the user. It may be opened through the navigation drawer.

[2022-04-30 09:39] bharadwajmsr commented on #22
@ken1000minus7  I want to fix the issue, can you please assign this issue to me?

one doubt:
      Should the number of items in list be shown where ever the `com.pec_acm.moviedroid.mainpage.list.ListAdapter`is used?

[2022-04-30 10:57] ken1000minus7 commented on #22
@bharadwajmsr sure 😄
The number of items are to be displayed only above the 6 user lists, i.e. , in the `AllListFragment` , `WatchingListFragment` ,`CompletedListFragment` ,`OnHoldListFragment` ,`DroppedListFragment` and `PlanToWatchListFragment`.

[2022-04-30 18:28] ken1000minus7 opened #24 "Create a pull request template"
Create a template for pull requests that will be created in this repo

[2022-05-03 09:07] dylan-power commented on #24
Hi, I'd like to take this issue. Are there any guidelines for what you would like to see in the template? Thank you.

[2022-05-03 11:08] ken1000minus7 commented on #24
Hi @dylan-power 😄 , thanks for your interest in this issue. There is no specific guidelines that we have decided on for the template so you are free to show your creativity. Overall the template should contain at least the following

- Description of the pull request
- Issue that is resolved by it
- Screenshots if applicable

 Feel free to add any additional features to the template 😊

 You can al

[2022-05-06 08:22] bharadwajmsr commented on #22
@ken1000minus7 Raised a PR https://github.com/PEC-CSS/MovieDroid/pull/26.

[2022-05-06 10:18] #22 closed, assigned to bharadwajmsr

[2022-05-06 10:29] ken1000minus7 opened #27 "Add search for Tv Shows using chips"
Currently we can only search for movies in the `SearchFragment`. Add chips below the search bar to select whether to search for movie or Tv Show. We can keep the movie chip as checked by default.

Chips in Material UI
https://material.io/components/chips/android#using-chips

[2022-05-06 10:31] bharadwajmsr commented on #21
@ken1000minus7 I want to work on this issue. Could you please assign this issue to me?

[2022-05-06 10:52] ken1000minus7 commented on #21
Sure @bharadwajmsr , good luck ! 😄

[2022-05-07 17:04] #24 closed, assigned to dylan-power

[2022-05-08 08:52] bharadwajmsr commented on #21
@ken1000minus7 Raised a PR https://github.com/PEC-CSS/MovieDroid/pull/29

[2022-05-08 13:29] #21 closed, assigned to bharadwajmsr

[2022-05-15 06:13] yellowHatpro commented on #27
oh u made issue about this
can i work on this please 🙏🏼  @ken1000minus7

[2022-05-15 07:16] ken1000minus7 commented on #27
ahb

[2022-05-15 08:22] #27 closed, assigned to nobody

[2022-05-15 08:48] ken1000minus7 opened #32 "Sort the user lists"
The items in the user lists need to be sorted according to the title of the item.
In the all list, the items should be sorted such that they appear in the order
<ol>
<li>Watching items
<li>Completed items
<li>On hold items
<li>Dropped items
<li>Plan to Watch items
</ol>

These items must be sorted within themselves, i.e., all the watching items must appear before all the competed items but they sh

[2022-05-15 09:00] ken1000minus7 opened #33 "Add Lottie animations"
Add suitable lottie animations that should appear when search results are loading, movie details are loading and at any other relevant places.

https://lottiefiles.com/getting-started

[2022-05-15 09:04] ken1000minus7 opened #34 "Improve the `LoginActivity` UI"
The current UI of the login activity is very dull with just a single sign in button. Improve upon the UI to make it more attractive and preferably add animations to make it more appealing

[2022-05-15 10:23] #16 closed, assigned to Raveesh2324

[2022-05-16 13:29] yellowHatpro opened #36 "Create App Icon"
- app icon needed

[2022-05-16 20:34] ken1000minus7 opened #37 "Improve the `SearchView`"
Currently the `SearchFragment` uses a basic search view which is not at all appealing, improve upon the design of the search view to make it similar to those present in most of the apps. Try to make the design relevant to its purpose, i.e., searching movies and TV shows

[2022-05-20 17:11] ken1000minus7 opened #40 "Setup a basic onboarding in `LoginActivity`"
Add a basic onboarding to the `LoginActivity` initially consisting of three pages. They can remain empty for now as they will be filled with the appropriate content later. Along with this, the login functionality should be shifted to a fragment inside the `LoginActivity` instead of the `LoginActivity` so that onboarding can be used along with it.

[2022-06-07 13:40] ken1000minus7 opened #41 "Add colors for Night mode"
Add suitable colors for night mode in the night colors.xml file and corresponding light mode colors in the original colors.xml and use the colors wherever required. Each color in the night colors.xml should have the same name as their light mode counterpart in the original colors.xml.

Like for example
In the original colors.xml
[code]
Then subsequently in the night colors.xml
[code]
<details>
  <

[2022-07-26 10:34] ken1000minus7 opened #44 "Implement On-Device Training"
Implement on-device training for the movie recommendation model that will be integrated into the app (#45 ).

Reference
https://www.tensorflow.org/lite/examples/on_device_training/overview

[2022-08-04 08:42] ken1000minus7 opened #45 "Add a movie recommendation model"
Exactly what the title says, gl

[2022-09-27 18:28] karanpreet8082 commented on #36
bhaiya bhaiya hamka chahiye wala

[2022-09-27 18:29] karanpreet8082 commented on #36
please assign it to me

[2022-09-27 21:29] ken1000minus7 commented on #36
Gl @karanpreet8082

[2022-09-29 18:24] ken1000minus7 opened #46 "Migrate `LoginActivity` to Kotlin"
Currently the `LoginActivity` is written in Java. Migrate the Java code to Kotlin.

[2022-09-30 19:53] ken1000minus7 opened #47 "Migrate `AllListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 19:56] ken1000minus7 opened #48 "Migrate `ListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 20:01] ken1000minus7 opened #49 "Migrate `WatchingListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 20:01] ken1000minus7 opened #50 "Migrate `CompletedListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 20:02] ken1000minus7 opened #51 "Migrate `DroppedListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 20:03] ken1000minus7 opened #52 "Migrate `OnHoldListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 20:03] ken1000minus7 opened #53 "Migrate `PlanToWatchListFragment` to Kotlin"
Java -> Kotlin pls, thank you 😇

[2022-09-30 20:48] Dinoosawruss commented on #41
Hi, this sounds interesting could I be assigned?

[2022-09-30 21:24] ken1000minus7 commented on #41
Sure @Dinoosawruss , good luck ! 😄

[2022-09-30 21:45] Dinoosawruss commented on #41
Have you got any specific reference to what kind of dark mode colours you might like or are you happy for me to explore?

[2022-09-30 21:52] ken1000minus7 commented on #41
You are free to explore what colors would look the best, there aren't any specific requirements for now 😇

[2022-10-01 03:34] RahulSoni0 commented on #46
can i contribute to this issue? @ken1000minus7

[2022-10-01 03:54] aakash232 commented on #50
Pls assign this issue @ken1000minus7

[2022-10-01 05:00] NiranjanNlc commented on #40
Hey , I am getting error at the                 .requestIdToken(getString(R.string.default_web_client_id)) line .
Would you please provide me the dummy ID ?

[2022-10-01 06:01] shivamparihar12 commented on #53
Hi, I would like to contribute in resolving this issue.
@ken1000minus7 Pls assign this issue to me.

[2022-10-01 06:52] shivamparihar12 commented on #40
Hi @ken1000minus7, I'm facing the same issue. I need the Dummy ID too.

[2022-10-01 06:55] shivamparihar12 commented on #52
Hi, I would like to contribute in resolving this issue.
@ken1000minus7 Pls assign this issue to me.

[2022-10-01 06:56] shivamparihar12 commented on #47
Hi, I would like to contribute in resolving this issue.
@ken1000minus7 Pls assign this issue to me.

[2022-10-01 06:58] vishal2376 commented on #11
Hi, I would like to work on this issue.

I can create a splash screen with implementation in kotlin.

[2022-10-01 06:58] ken1000minus7 commented on #53
Sure @shivamparihar12 😇

[2022-10-01 06:59] ken1000minus7 commented on #52
@shivamparihar12 good luck 😇

[2022-10-01 06:59] vishal2376 commented on #23
I would like to work on it. Can you assign it to me?

[2022-10-01 06:59] ken1000minus7 commented on #50
@aakash232 Sure, good luck ! 😄

[2022-10-01 07:00] vishal2376 commented on #34
Hi, I would like to work on this issue.

[2022-10-01 07:00] ken1000minus7 commented on #47
@shivamparihar12 done , good luck ! 😄

[2022-10-01 07:00] vishal2376 commented on #12
Hey, I would like to work on this issue.

[2022-10-01 07:01] ken1000minus7 commented on #46
Sure @RahulSoni0 , assigning you 😇

[2022-10-01 07:03] ken1000minus7 commented on #40
Hi @NiranjanNlc @shivamparihar12 😄 , that id is actually auto generated during build. Even though the line shows an error, the app should run without issues if you have set up firebase properly 😇 . Let me know if there are any issue while running the app 👍

[2022-10-01 07:04] ken1000minus7 commented on #34
Sure @vishal2376 , good luck ! 😇

[2022-10-01 07:05] ken1000minus7 commented on #12
Assigning you 👍 @vishal2376

[2022-10-01 07:06] ken1000minus7 commented on #23
Good luck ! @vishal2376

[2022-10-01 07:11] abhishekpathak1 commented on #32
I would like to work on this. Could you please assign it to me ?

[2022-10-01 07:14] #48 closed, assigned to nobody

[2022-10-01 07:17] ken1000minus7 commented on #32
Sure @abhishekpathak1 , good luck ! 😇

[2022-10-01 07:23] #49 closed, assigned to nobody

[2022-10-01 07:29] #51 closed, assigned to nobody

[2022-10-01 07:39] RahulSoni0 commented on #15
can you assign me with this issue  as i was previously working with the same issue in my personal project repo. @ken1000minus7

[2022-10-01 07:43] ken1000minus7 commented on #15
Sure @RahulSoni0 😇

[2022-10-01 08:04] jyorien commented on #13
hi I would like to be assigned to this:)

[2022-10-01 08:10] yellowHatpro commented on #11
Hello @vishal2376, thanks for your interest. Currently the issue is assigned to @karanpreet8082 , but you are free to explore other issues 😀✨

[2022-10-01 08:12] yellowHatpro commented on #13
Go ahead @jyorien 😀✨

[2022-10-01 08:20] vishal2376 commented on #12
@ken1000minus7  Is it necessary to use dimen? Or I can use dp/sp instead.

[2022-10-01 08:25] ken1000minus7 commented on #12
Yeah @vishal2376 , please use sdp and ssp instead of dp and sp as they are scalable according to the screen size 😇

[2022-10-01 08:27] vishal2376 commented on #12
ok 🙂

[2022-10-01 08:36] RahulSoni0 commented on #46
hey @ken1000minus7 i'm getting Cannot resolve symbol 'default_web_client_id' , what to do
<img width="820" alt="Screenshot 2022-10-01 at 2 04 09 PM" src="https://user-images.githubusercontent.com/75351409/193400834-a434f935-a11e-49c4-a47c-631767f67ab0.png">

[2022-10-01 08:37] RahulSoni0 commented on #46
can you once check on your local environment and fix it after that i will migrate it to kotlin , i have my kotlin code ready .@

[2022-10-01 08:42] yellowHatpro commented on #46
Hello @RahulSoni0 , the id is generated at the build time. It won't affect the code in any way.

[2022-10-01 08:47] ken1000minus7 commented on #46
@RahulSoni0 you are free to make a pr if you are done with the migration, don't worry about the id 😇

[2022-10-01 10:21] #12 closed, assigned to vishal2376

[2022-10-01 10:22] aakash232 commented on #50
@ken1000minus7 Pls review the PR#59.
First contribution to this repo. Do let me know if any changes needed and pls guide me for the same.

[2022-10-01 10:48] #50 closed, assigned to aakash232

[2022-10-01 10:51] #53 closed, assigned to shivamparihar12

[2022-10-01 10:56] #52 closed, assigned to shivamparihar12

[2022-10-01 11:00] #47 closed, assigned to shivamparihar12

[2022-10-01 18:22] #34 closed, assigned to vishal2376

[2022-10-01 18:32] #13 closed, assigned to jyorien

[2022-10-01 18:41] ken1000minus7 opened #66 "Migrate `ListPagerAdapter` to Kotlin"
Should be pretty ez

[2022-10-02 04:15] vishal2376 commented on #66
Please assign it to me. I would like to work on it

[2022-10-02 04:44] yellowHatpro commented on #66
Go ahead @vishal2376 😄

[2022-10-02 05:26] #66 closed, assigned to vishal2376

[2022-10-02 10:44] #23 closed, assigned to vishal2376

[2022-10-02 11:37] #15 closed, assigned to RahulSoni0

[2022-10-02 16:27] vishal2376 commented on #40
I would like to contribute to this issue.

But I need some time to learn and implement onboarding because I don't know about the Onboarding screen and fragment navigation components.

It would be helpful if you can provide some resources

[2022-10-03 13:49] ken1000minus7 commented on #40
@vishal2376 You can get an idea about it through this video

https://www.youtube.com/watch?v=COZ3j8Dwlog

Let me know if you are willing to work on this issue 😇

[2022-10-03 13:55] #46 closed, assigned to RahulSoni0

[2022-10-04 04:04] vishal2376 commented on #40
Yes, assign me

[2022-10-04 04:18] yellowHatpro commented on #40
Go ahead @vishal2376 😄

[2022-10-04 16:23] ken1000minus7 opened #70 "Migrate remaining Java files to Kotlin"
### Suggestion / Feature Request

Let's remove java completely :)

After migrating, remove the java badge from readme 😇

[2022-10-04 16:25] ken1000minus7 opened #71 "Integrate Dagger Hilt"
### Suggestion / Feature Request

Integrate dagger hilt into the application and use it to inject the TMDB API instead of creating an instance of it

[2022-10-04 16:42] ken1000minus7 opened #72 "Redesign the App bar"
### Suggestion / Feature Request

Redesign the app bar to look something like this, the profile image of the user should be displayed in the circle on the right

![image](https://user-images.githubusercontent.com/78747188/193877696-3ac00198-c2ad-4be5-9ec1-bbc4eb691ea7.png)

[2022-10-04 17:11] krishnachaitanya0107 commented on #70
Hi @ken1000minus7

I would like to work on this , could you please assign it to me .

Thanks

[2022-10-04 17:24] Miteshhsingla commented on #72
hey! I would like to contribute. Please assign this issue to me

[2022-10-04 17:26] Miteshhsingla commented on #72
Do i have to code this app bar or only design a prototype?

[2022-10-04 17:39] ken1000minus7 commented on #70
Go ahead @krishnachaitanya0107 😋

[2022-10-04 17:42] ken1000minus7 commented on #72
@Miteshhsingla You have to implement the design in code and also add functionality for displaying the profile image of the user and openingthe navigation drawer. Assigning you 😇

[2022-10-04 17:46] Miteshhsingla commented on #72
Sorry! I thought its only for designing purpose. You can re-assign it to somebody else.

[2022-10-04 17:50] krishnachaitanya0107 commented on #71
Hi @ken1000minus7

I would like to try working on this one , Could you please assign this issue to me .

Thanks

[2022-10-04 17:51] ken1000minus7 commented on #72
Oh ok, no problem

[2022-10-04 17:52] ken1000minus7 commented on #71
Sure @krishnachaitanya0107 , good luck! 😊

[2022-10-04 18:41] #70 closed, assigned to krishnachaitanya0107

[2022-10-04 21:25] #71 closed, assigned to krishnachaitanya0107

[2022-10-04 21:36] krishnachaitanya0107 commented on #72
Hey @ken1000minus7 ,

I could try working on this one , Could you please assign it to me .

Thanks

[2022-10-05 05:41] ken1000minus7 commented on #72
Sure @krishnachaitanya0107 😇

[2022-10-05 07:36] Devendra34 commented on #33
Hi @ken1000minus7,
I'm interested. Can you please assign it to me.. Also if you have a specific animation in mind, then please share it's link. Else I'll try to find out any suitable one.
Thanks!

[2022-10-05 08:17] ken1000minus7 commented on #33
@Devendra34 assigning you 😇, there are no particular animations decided on yet, they just have to be suitable enough for the place they are used at. An animation for searching is already in the app, you can check that for reference if you want😊

[2022-10-05 13:08] Perumallpardhiv commented on #36
@ken1000minus7
pls assign this to me if it is not done at

[2022-10-05 13:28] yellowHatpro commented on #36
@Perumallpardhiv thanks for you interest 😃😃, but currently the issue is assigned . But hey, you can explore the codebase and search for issues 😄

[2022-10-05 13:35] Perumallpardhiv commented on #36
Sorry sir, I have just submitted the pr(before seeing this msg) by thinking
that It can be assigned
Forgive me sir, If I did any mistake, I am new to this github platform

On Wed, Oct 5, 2022, 18:58 Ashutosh Aswal ***@***.***> wrote:

[2022-10-05 13:36] Perumallpardhiv commented on #36
And if possible once check my pr and pls say feedback

On Wed, Oct 5, 2022, 19:04 VANKA PERUMALL PARDHIV ***@***.***>
wrote:

[2022-10-05 19:29] Perumallpardhiv commented on #11
@yellowHatpro Can I contribute on this issue?

[2022-10-06 04:42] #36 closed, assigned to karanpreet8082

[2022-10-06 14:05] #72 closed, assigned to krishnachaitanya0107

[2022-10-06 16:02] #11 closed, assigned to karanpreet8082

[2022-10-06 17:11] ken1000minus7 opened #79 "Display pie chart of the count of different lists in `ProfileActivity`"
### Suggestion / Feature Request

Display a pie chart in the `ProfileActivity` showing the count of movies or tv shows with the  status
- Watching
- Completed
- On Hold
- Dropped
- Plan To Watch

Use the corresponding colors of each list when representing them in pie chart

[2022-10-06 17:12] ken1000minus7 opened #80 "Open `ProfileActivity` on clicking the profile pic"
### Suggestion / Feature Request

Open the `ProfileActivity` when user clicks on the profile pic on the app bar

[2022-10-06 17:15] ken1000minus7 opened #81 "Add a Favorite feature"
### Suggestion / Feature Request

Add a feature to favorite a movie or tv show. The favorite icon should appear in the detail fragments. The favorites can be stored as a field of type `MutableList<ListItem>` in the `User` data class

[2022-10-06 17:17] ken1000minus7 opened #82 "Display list of cast and crew"
### Suggestion / Feature Request

Display list of cast and a list of crew of a movie or tv show in the detail fragments as a horizontal `RecyclerView`

[2022-10-06 17:51] HeyRonak commented on #80
hello @ken1000minus7 can you please assign this issue to me ?

[2022-10-06 18:30] ken1000minus7 commented on #80
Sure, go ahead 😇 @ronakparmar533

[2022-10-06 18:53] ken1000minus7 opened #83 "Add a remove from list option"
### Suggestion / Feature Request

In the `StatusBottomSheet`, add an option to remove the item from the user's list. Clicking on this option should open a dialog to confirm the removal

[2022-10-06 19:37] ken1000minus7 opened #84 "Add Movie / TV Show videos in the detail fragments"
### Suggestion / Feature Request

Display the a list of different trailers and videos in the detail fragments as a horizontal pager where one can swipe or press on an arrow button (your choice which implementation you wanna go with, or you can implement both) to move to the next video

You can use [`YoutubeView`](https://github.com/PEC-CSS/MovieDroid/blob/main/app/src/main/java/com/pec_acm/moviedr

[2022-10-06 19:41] ken1000minus7 opened #85 "Create an `AboutActivity`"
### Suggestion / Feature Request

The `AboutActivity` should display a brief info about this project and have a button to redirect the user to this github repo. An about should be added to the navigation drawer, which will be used to open this activity

[2022-10-07 03:46] HeyRonak commented on #80
Thank you @ken1000minus7 for assigning this issue to me

[2022-10-07 06:53] vishal2376 commented on #85
Assign it to me

[2022-10-07 07:02] vishal2376 commented on #82
I would like to work on it.

[2022-10-07 07:32] RohitLakra299 commented on #85
I want to work on this issue. Can you please assign this to me? @ken1000minus7

[2022-10-07 07:43] krishnachaitanya0107 commented on #84
Hi @ken1000minus7  ,

i would like to try working on this issue . Could you please assign it to me .

Thanks

[2022-10-07 07:46] krishnachaitanya0107 commented on #83
Hi @ken1000minus7  ,

I would like to try working on this issue. Could you please assign it to me .

Thanks

[2022-10-07 08:15] neil0504 commented on #85
Hey @ken1000minus7 , i would like to work on this issue if its available.

[2022-10-07 10:07] ken1000minus7 commented on #85
Assigning you @vishal2376 😄

@RohitLakra299 @neil0504 Sorry but currently this issue is being assigned to the first person who commented 😅 , you can check out other issues for now or create any issue you find relevant. Thanks for your interest in contributing 😇

[2022-10-07 10:08] ken1000minus7 commented on #84
Sure @krishnachaitanya0107 , good luck 😊

[2022-10-07 10:08] ken1000minus7 commented on #83
Assigning you @krishnachaitanya0107 😄

[2022-10-07 10:09] ken1000minus7 commented on #82
Assigning you @vishal2376 😇

[2022-10-07 15:54] neil0504 commented on #37
Hello @ken1000minus7 , I would like to work on this issue. plz assign it to me.

[2022-10-07 15:55] ken1000minus7 commented on #37
Sure @neil0504 , go ahead 😇

[2022-10-08 05:05] #83 closed, assigned to krishnachaitanya0107

[2022-10-08 09:51] ken1000minus7 opened #88 "Fix text overflow in list item"
### Contact Details

_No response_

### What happened?

Limit the title to one line and show `...` at the end when the text exceeds the limit, also reduce the font size of the title a bit

![image](https://user-images.githubusercontent.com/78747188/194701455-9e4be3c7-3194-4e7d-959b-80dfdc862bb5.png)

### In which device are you seeing the problem on?

_No response_

### Relevant code

_No response

[2022-10-08 09:53] gautmikhanna commented on #88
assign it to me

[2022-10-08 10:07] logicalahara commented on #88
Hey @ken1000minus7 , I've got a good grip over web tech and would be happy to contribute.

will you please assign this to me?

[2022-10-08 10:16] ken1000minus7 commented on #88
@gautmikhanna assigning you 😇

@logicalahara thanks for your interest in contributing 😄 but currently I can assign this issue to only one person 😓 . You can try exploring other issues or create new ones, best of luck 😇

[2022-10-08 14:08] #85 closed, assigned to vishal2376

[2022-10-09 13:48] #80 closed, assigned to HeyRonak

[2022-10-09 18:07] #84 closed, assigned to krishnachaitanya0107

[2022-10-10 17:18] ken1000minus7 opened #92 "Fix the text in the home page cards"
### Contact Details

_No response_

### What happened?

The text in the card should be centered, the font size is a bit small , need to increase that. Also, show ellipses `...` when the title overflows

![image](https://user-images.githubusercontent.com/78747188/194920698-fbdb5a48-57cb-4b48-bdfc-ff26d0a87ae2.png)

### In which device are you seeing the problem on?

_No response_

### Relevant code

[2022-10-11 14:27] V9vek commented on #92
Hi @ken1000minus7 👋🏻 I would like to work on this. If this is open for contribution, please assign it to me.

[2022-10-11 14:39] ken1000minus7 commented on #92
Sure @V9vek go ahead 😄

[2022-10-11 19:51] V9vek commented on #92
Hey @ken1000minus7, the project is building fine but when I tried to install it on device, it is showing me following error
![image](https://user-images.githubusercontent.com/40730402/195185536-2c55be02-3e1c-4768-b0a8-2268b1da892a.png)

[2022-10-12 14:31] V9vek commented on #92
@ken1000minus7 I have opened the PR, kindly review it and if any changes are required, do let me know 😉

[2022-10-12 17:26] ken1000minus7 commented on #92
Oh, sorry for the late reply, is the error fixed? 😅

[2022-10-12 17:33] V9vek commented on #92
Yes the error got fixed

[2022-10-12 17:39] neil0504 commented on #37
Hey @ken1000minus7 ,could you assign me again.

[2022-10-12 17:43] ken1000minus7 commented on #37
Ok 👍

[2022-10-13 07:29] #92 closed, assigned to V9vek

[2022-10-13 07:33] ken1000minus7 opened #94 "Display average rating of user in `ProfileActivity`"
### Suggestion / Feature Request

Exactly what it says

Display 3 average ratings, overall, movies and tv shows

While calculating average ignore unrated movies or tv shows

[2022-10-13 07:42] ken1000minus7 opened #95 "Limit length of description in detail fragments"
### Suggestion / Feature Request

Limit the description to 4 lines in the detail fragments

Add a down arrow below the description to expand it

When expanded, replace the down with an up arrow to close it back

[2022-10-13 07:57] yashsarnaik22 commented on #94
can I create cards to show the rating using html css and bootstrap?

[2022-10-13 07:58] yashsarnaik22 commented on #94
assign this to me, I can calculate average with some JS

[2022-10-13 09:22] Kardelio commented on #95
Hey @ken1000minus7 would you mind if i pick up this task?

[2022-10-13 09:43] ken1000minus7 commented on #94
Hey @yashsarnaik22 , this is an android application so we would prefer to have all functionality written using native android tech like kotlin rather than web tech like js 😅

[2022-10-13 09:44] ken1000minus7 commented on #95
Go ahead @Kardelio , good luck 😄

[2022-10-13 09:52] Kardelio commented on #95
Thank you! @ken1000minus7 on it!

[2022-10-13 11:10] Kardelio commented on #95
Is the Description in question the `overview` in `MovieDetailFragment` ?

[2022-10-13 12:09] Kardelio commented on #95
@ken1000minus7 I have addressed this issue in PR: #96
Please let me know what you think

[2022-10-13 13:55] ken1000minus7 commented on #95
Yes

Sure ✌️

[2022-10-13 13:59] #95 closed, assigned to Kardelio

[2022-10-16 18:12] vishal2376 commented on #82
Hi, I successfully fetched movie cast and crew data from API but I am a bit confused about the image. Here I am passing this path to the imageView.

profile_path = "/5XBzD5WuTyVQZeS4VI25z2moMeY.jpg"

How to get the image URL?

![image](https://user-images.githubusercontent.com/38159691/196051091-78bde1b3-8f37-4b06-b231-00b48be161be.png)

[2022-10-16 18:29] #37 closed, assigned to neil0504

[2022-10-17 07:17] ken1000minus7 commented on #82
@vishal2376 you can use it like this

`https://image.tmdb.org/t/p/w138_and_h175_face/5XBzD5WuTyVQZeS4VI25z2moMeY.jpg`

Just add `https://image.tmdb.org/t/p/w138_and_h175_face` before the profile path

[2022-10-17 07:21] vishal2376 commented on #82
ok

[2022-10-17 07:27] vishal2376 commented on #82
@ken1000minus7 can i get your contact no. or any social handle?

[2022-10-17 07:28] ken1000minus7 commented on #82
can contact me on discord -> Ken1000minus7#2792

[2022-10-18 17:53] #32 closed, assigned to nobody

[2022-10-18 17:54] ken1000minus7 opened #100 "Sort individual lists"
### Suggestion / Feature Request

The all list is sorted, sort the the other individual lists as well according to name

[2022-10-18 18:07] ken1000minus7 opened #101 "Change status bar color"
### Suggestion / Feature Request

Change color of the status bar to match the app's theme

[2022-10-18 19:21] rishabhknowss commented on #101
please assign me the task

[2022-10-18 20:22] ken1000minus7 commented on #101
Sure @rishabhknowss , good luck 😄

[2022-10-18 23:03] AndroidLion48 commented on #41
Hello, may I please be assigned to contribute to your project?
I'm a new developer.
Thanks for participating in Hacktoberfest and providing this opportunity :)

[2022-10-20 17:41] #41 closed, assigned to Dinoosawruss

[2022-10-20 22:15] ken1000minus7 opened #103 "Add a back button for back navigation in `ProfileActivity` and `AboutActivity`"
### Suggestion / Feature Request

Exactly what it says

[2022-10-20 22:18] ken1000minus7 opened #104 "Add option to remove rating given to a movie/TV show"
### Suggestion / Feature Request

The score bottom sheet contains no option to remove rating, add an option for it. On removing the rating, score property of the user should be set to 0

[2022-10-20 22:30] ken1000minus7 opened #105 "Change the font of the application text"
### Suggestion / Feature Request

The default font is being used right now, would be nice to have good looking font, can check out google fonts for any good ones

[2022-10-20 22:42] frey0-0 commented on #105
assign this issue  to me @ken1000minus7
would like to work on this but I might need some guidance

[2022-10-20 22:46] ken1000minus7 commented on #105
Sure @Frey0-0 , assigning u 😄

[2022-10-21 03:39] shrishti147 commented on #105
hi, please assign me.

[2022-10-21 05:31] VSen910 commented on #103
Hi! I'd like to take this up

[2022-10-21 05:53] VSen910 commented on #103
The default client id is supposed to be not there in the strings xml right?

[2022-10-21 06:02] ken1000minus7 commented on #105
Sure @shrishti147 go ahead 😇

[2022-10-21 06:03] ken1000minus7 commented on #103
@VSen910 assigning u 😇. Yeah that default web client id is generated during build

[2022-10-21 17:47] kashish0604 commented on #105
hey @ken1000minus7 can you assign this issue to me i can work on it

[2022-10-21 18:14] ken1000minus7 commented on #105
Hey @kashish0604 , thanks for your interest in contributing but this issue is already assigned 😅 . You can check out other issues or create new ones that may be relevant 😇

[2022-10-22 06:15] its-me-debk007 opened #107 "[Feature Request / Suggestion]: Add black gradient & elevation to card view"
### Suggestion / Feature Request

By adding black gradient to the title of the card view, and applying a little bit of elevation, makes the card view more visually appealing

Please assign me this task. Would be happy to contribute :)

![Screenshot_2022-10-22-11-38-47-763_com pec_acm moviedroid](https://user-images.githubusercontent.com/81604986/197323469-840c6f74-99fc-4038-9c20-b481567aa7fe.jpg)

[2022-10-22 10:31] ken1000minus7 commented on #107
Sure @its-me-debk007 go ahead, assigning u 😄

[2022-10-22 10:39] #103 closed, assigned to VSen910

[2022-10-22 18:42] Chandra-Sekhar-Bala commented on #100
Hey @ken1000minus7 are you saying sorting the list before providing it to the [ListAdapter](https://github.com/PEC-CSS/MovieDroid/blob/main/app/src/main/java/com/pec_acm/moviedroid/mainpage/list/ListAdapter.kt)  ?

[2022-10-22 20:22] ken1000minus7 commented on #100
Yup, the list should be sorted according to the title and then passed to the `ListAdapter`

[2022-10-22 20:23] ken1000minus7 commented on #100
Let me know if you want to work on this issue 😇

[2022-10-23 05:48] its-me-debk007 opened #109 "[Feature Request / Suggestion]: Transition animation b/w different pages"
### Suggestion / Feature Request

Enabling transition animation b/w several pages encourages smoother experience and also looks visually good

[2022-10-23 05:48] its-me-debk007 commented on #109
Please assign this issue to me!

[2022-10-23 06:33] #107 closed, assigned to its-me-debk007

[2022-10-23 06:34] ken1000minus7 commented on #109
Sure @its-me-debk007 , good luck 😄

[2022-10-23 10:45] its-me-debk007 commented on #33
Hi,
The developer seems to be inactive on this issue! Can I be assigned to this?

[2022-10-23 12:46] ken1000minus7 commented on #33
Ok sure @its-me-debk007 , assigning u 👍

[2022-10-23 13:41] its-me-debk007 opened #110 "[Bug]: Wrong alignment of CardViews in the AllItems Fragment"
### Contact Details

debashish.joy@gmail.com

### What happened?

As we can see in the screenshot, the recycler view is aligned more to the left side, than to the center

![1666522598847](https://user-images.githubusercontent.com/81604986/197388900-4517c83b-54ae-495a-9f80-6f3abcb64baf.jpg)

### In which device are you seeing the problem on?

Phone, Tablets, Emulator

### Relevant code

_No respons

[2022-10-23 13:41] its-me-debk007 commented on #110
Please assign this issue to me

[2022-10-23 14:30] ken1000minus7 commented on #110
Ok @its-me-debk007 assigning u 😇

[2022-10-23 15:07] #110 closed, assigned to its-me-debk007

[2022-10-23 15:24] ken1000minus7 opened #112 "Placeholder image in list item"
### Contact Details

_No response_

### What happened?

Add a placeholder image in the list item to display when the poster url is empty
![image](https://user-images.githubusercontent.com/78747188/197400711-8ccb332a-85b8-4fe1-8ab9-1d30f40a3bf1.png)

### In which device are you seeing the problem on?

Emulator

### Relevant code

_No response_

### Code of Conduct

- [X] I agree to follow this proj

[2022-10-23 15:36] PratikFagadiya commented on #101
Hey @ken1000minus7 can u assign me this task?

[2022-10-23 15:47] ken1000minus7 commented on #101
Sure @PratikFagadiya good luck !

[2022-10-23 18:39] rosita-dmello commented on #112
Hi.. I'd like to work on this issue. Can you assign it to me?

[2022-10-23 19:28] Chandra-Sekhar-Bala commented on #100
Sure, I would love to help. Assign it to me @ken1000minus7.

[2022-10-23 19:44] ken1000minus7 commented on #100
Assigning u then

[2022-10-24 14:26] #33 closed, assigned to its-me-debk007

[2022-10-24 15:18] #109 closed, assigned to its-me-debk007

[2022-10-25 14:45] yellowHatpro opened #115 "Change Toolbar color in detail fragments"
### Suggestion / Feature Request

Change Tv Detail Fragment and Movie Detail Fragment 's collapsing toolbar color to match app's theme.

[2022-10-25 15:07] yellowHatpro opened #116 "[Bug]: Handle offline behavior"
### Contact Details

_No response_

### What happened?

Handle app crashes (NullPointerException) while accessing individual movies/tv shows when the internet is not available.

### In which device are you seeing the problem on?

_No response_

### Relevant code

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-25 15:17] yellowHatpro opened #117 "Add a toolbar in All Items Fragment"
### Suggestion / Feature Request

Add a toolbar in AllItem Fragment, to show the name of the argument (Top Movies, Top TV Shows, Popular Movies, etc) and a back navigation button.

[2022-10-25 17:04] yellowHatpro opened #118 "Change MovieDroid icon in Login Activity"
### Suggestion / Feature Request

Now that we have the MovieDroid icon image, we need it to be used in the Login Activity in place of the currently used image.

[2022-10-25 18:16] mksiddiq commented on #118
Hi! I would like to take this issue.

[2022-10-25 19:56] #118 closed, assigned to nobody

[2022-10-25 21:03] #100 closed, assigned to Chandra-Sekhar-Bala

[2022-10-25 21:07] Chandra-Sekhar-Bala commented on #100
Thanks @ken1000minus7  :)

[2022-10-26 08:01] Chandra-Sekhar-Bala commented on #112
Hey @ken1000minus7 is [this](https://img.freepik.com/free-vector/film-strip-background-with-clapper-board_1017-33456.jpg?w=1060&t=st=1666771209~exp=1666771809~hmac=83a06d22c9a4a5cba0aaf21375454e0bfc7e28742bc926cc263f70a238dbed9c) a good placeholder graphic?

[2022-10-26 08:13] ken1000minus7 commented on #112
I think something with a white background would look better 🤔

[2022-10-26 09:20] Chandra-Sekhar-Bala commented on #112
How about [this](https://img.freepik.com/free-vector/cinema-film-elements-objects_1017-33459.jpg?w=1060&t=st=1666776002~exp=1666776602~hmac=0bad76d8c7597de36b42f2e5ecc789703723da4c777ff279a5bebdc66e610011)?

[2022-10-26 12:13] atharvabhoite7 commented on #115
Hey @YoshithaRathnayake ! I'm interested in this. Please can you assign it to me?

[2022-10-26 12:16] atharvabhoite7 commented on #115
Hey @yellowHatpro ! I'm interested in this. Please can you assign it to me?

[2022-10-26 16:30] Rarj commented on #117
hi @yellowHatpro , can you assign it to me? I will work with this issue.
thanks anw!

[2022-10-26 17:38] ken1000minus7 commented on #112
Seems good , I think we can work with just this part
![image](https://user-images.githubusercontent.com/78747188/198097345-9a916e86-98d1-4362-b5a3-0a2684f24190.png)

[2022-10-26 17:41] ken1000minus7 commented on #115
Assigning u @atharvabhoite7 , good luck 😇

[2022-10-26 19:14] humaneBicycle commented on #88
i cannot find this element anywhere is the app.

[2022-10-26 20:48] humaneBicycle commented on #101
sorry i dont understand which color you mean when you say app's theme. could you please explain?

@ken1000minus7

[2022-10-27 06:55] #116 closed, assigned to nobody

[2022-10-27 06:56] yellowHatpro commented on #117
Hello @Rarj , you may work on this issue 😄 !

[2022-10-27 17:49] ken1000minus7 commented on #88
@humaneBicycle it's the `movie_list_item` layout

[2022-10-27 17:52] #112 closed, assigned to nobody

[2022-10-28 06:21] Chandra-Sekhar-Bala commented on #94
Hey @ken1000minus7 is that means we need to create two horizontal cards in profileActivity.  Then show 3 movies in one card, and tv shows on other, selected by average rating of 3-5 ?

[2022-10-28 12:54] ken1000minus7 commented on #94
You need to display the overall average score of all the items scored by the user in the user's list and below that u need to show two ratings, the average score given by the user of all movies in the user list and the average scoreof all the tv shows in the user's list. You do not have to display any movie or tv show

[2022-10-28 13:07] Rarj commented on #117
hi @yellowHatpro , on it!

[2022-10-28 14:27] Rarj commented on #117
hi @yellowHatpro , would you plz review my work?
if you have any concern, don't hesitate to discuss here.

thanks anw!

[2022-10-28 20:34] #117 closed, assigned to Rarj

[2022-10-29 12:48] Rarj commented on #88
Hi @yellowHatpro , is it still occur? Would you please assign this issue to me?
Thanks!

[2022-10-29 13:20] yellowHatpro commented on #88
Hi @Rarj , yeah the issue is still open, you can continue working on this issue 😄

[2022-10-29 13:21] yellowHatpro commented on #82
@vishal2376 any updates mate 🤔 ?

[2022-10-29 13:22] yellowHatpro commented on #105
@shrishti147 any updates🤔 ??

[2022-10-29 13:22] vishal2376 commented on #82
movie cast implemented

only tv cast remaining

[2022-10-29 13:56] Rarj commented on #88
on it!

[2022-10-29 15:37] Rarj commented on #88
hi @yellowHatpro , would you plz review my work?
if you have any question or advices, don't hesitate to discuss here.

thanks in advance!

[2022-10-29 16:09] #88 closed, assigned to Rarj

[2022-10-29 18:09] vishal2376 commented on #82
Done

[2022-10-30 07:28] prasad-333 commented on #104
I would like to contribute

[2022-10-30 18:12] #82 closed, assigned to vishal2376

[2022-10-30 19:05] #101 closed, assigned to PratikFagadiya

[2022-10-30 19:11] yellowHatpro commented on #115
Hello @atharvabhoite7 , any updates ?? 🤔
If you need any help you can tell

[2022-10-31 09:53] vishal2376 opened #129 "[Bug]: Duplicate list of cast and crews"
### Contact Details

_No response_

### What happened?

When opening any movie/tv detail page, some duplicate cast is shown in the cast list

### On which device are you seeing the problem?

Phone

### Relevant code

_No response_

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2022-10-31 09:54] vishal2376 commented on #82
Found a new bug #129

I don't how it's happening 😅.